%btn {
  color: #28d2d1;
  border: 2px solid #28d2d1;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}
%row_overflow {
  $rows: 3;
  display: -webkit-box;
  -webkit-line-clamp: $rows;
  -webkit-box-orient: vertical;
  max-height: calc(2rem * 3);
  overflow: hidden;
}
